In [ ]:
import pandas as pd

df = pd.read_csv('https://data.austintexas.gov/resource/9t4d-g238.csv')

print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 12 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   animal_id         1000 non-null   object
 1   name              815 non-null    object
 2   datetime          1000 non-null   object
 3   monthyear         1000 non-null   object
 4   date_of_birth     1000 non-null   object
 5   outcome_type      1000 non-null   object
 6   outcome_subtype   512 non-null    object
 7   animal_type       1000 non-null   object
 8   sex_upon_outcome  1000 non-null   object
 9   age_upon_outcome  993 non-null    object
 10  breed             1000 non-null   object
 11  color             1000 non-null   object
dtypes: object(12)
memory usage: 93.9+ KB
None

In [ ]:
df = pd.read_csv('/content/drive/MyDrive/Austin_Animal_Center_Outcomes.csv')

print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 138557 entries, 0 to 138556
Data columns (total 12 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   Animal ID         138557 non-null  object
 1   Name              97317 non-null   object
 2   DateTime          138557 non-null  object
 3   MonthYear         138557 non-null  object
 4   Date of Birth     138557 non-null  object
 5   Outcome Type      138534 non-null  object
 6   Outcome Subtype   63329 non-null   object
 7   Animal Type       138557 non-null  object
 8   Sex upon Outcome  138556 non-null  object
 9   Age upon Outcome  138552 non-null  object
 10  Breed             138557 non-null  object
 11  Color             138557 non-null  object
dtypes: object(12)
memory usage: 12.7+ MB
None